body {
    background-color: rgb(220, 182, 132);
}

.hello {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.container {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.box {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    padding: 30px;
}

.box2 {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    padding: 30px;
}

.container2 {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(164, 114, 211);
}

.box3 {
    width: 100px;
    height: 150px;
    background-color: rgb(84, 174, 196);
}

.box4 {
    width: 100px;
    height: 150px;
    background-color: rgb(9, 111, 111);
}




